.main{
    padding: 1rem;
}

.header{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

img{
    position: absolute;
    right: 5%;
    box-shadow: 3px 5px 32px 8px rgb(0, 0, 0, 0, 40);
}

body{
    margin: .5rem;
    padding: .5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .8rem;
}

.last-updated{
    color: white;
}