/* For Large Viewports */
@media only screen and (min-width: 1020px) {

    /* Navigation */
    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
    }

    nav ul li{
        align-self: center;
        flex: 1 1 auto;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(211,211,211,.3);
        text-align: center;
        padding: 1rem 2vw;
    }

    nav ul li a:hover {
        padding: 1rem 2vw;
    }

    nav ul li.social-media-1 a, nav ul li.social-media-2 a{
        border: none;
        padding: 0;
    }

    /* Main Page */
    main > div {
        margin-top: 10px;
    }

    main div section button {
        font-size: 2rem;
        padding: 1rem;
    }

    #homepage {
        width: 95%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .information {
        display: grid;
        grid-column: 2;
    }

    .herodiv {
        grid-column: 2;
    }

    .join {
        grid-column: 2;
    }

    .herodiv section {
        position: absolute;
        top: 25%;
        left: 25%;
    }

    .weatherInfo {
        bottom: 30%;
        padding: 0 0 0 1rem;
        margin: 10px;
    }

    /* Weather */
    .weather {
        display: block;
        height: inherit;
    }

    .weather figure {
        position: static;
    }

    #weatherIcon {
        width: 40%;
    }

    .weather h2 {
        background-color: #004777;
        color: white;
    }

    /* Footer */
    .base-footer {
        display: flex;
        justify-content: center;
    }

    .base-footer p {
        border-right: 1px solid #666;
        border-left: 1px solid #666;
    }

    /* Discover Page */
    #discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .media-card img {
        align-items: center;
    }

    .media-title h2 {
        text-align: center;
        padding: 5px;
    }

    /* Join Page */
    form  {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2rem;
        padding: 0 4rem;
    }

   form input.submitBtn {
       grid-column: 2;
   }

   /* Directory Page */
   .grid-view {
    grid-template-columns: 1fr 1fr 1fr;
    }

    .list-view section{
        display: flex;
        padding: 2rem 0;
    }

    .list-view section h2,
    .list-view section p,
    .list-view section a {
        padding: 0 2rem;
    }

    .list-view section h2 {
        width: 15%;
    }

    .list-view section p {
        width: 15%;
    }

    /* Contact Us Page */
    #contact div.form-container {
        width: 50%;
        padding: 1.5rem 0;
    }

    .contact-field {
        border: #D3D3D3 1px solid;
        padding: 2rem;
        border-radius: 10px;
    }

    .contactBtn {
        margin: 1.5rem 2rem;
    }
    
    div.form-container form {
        display: block;
    }
}