@media screen and (max-width: 480px) and (min-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    img{
        max-width: 100%;
    }
    
    p, li, div {
        font-family: 'Work Sans', sans-serif;
    }
    
    #home-page p {
        font-weight: bold;
    }
    
    /* Navigation */
    #primaryNav {
        display: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background: #004777;
        position: absolute;
        left: 0;
        height: 100%;
        overflow: auto;
    }
    
    #primaryNav a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }
    
    #primaryNav a.active {
        background-color: #004777;
        color: white;
    }
    
    #primaryNav a:hover:not(.active) {
        background-color: gray;
        color: white;
    }
    
    @media screen and (max-width: 800px) {
        #primaryNav {
            height: auto;
            width: 100%;
        }
    }
    
    @media screen and (max-width: 800px) {
        #primaryNav a {
            text-align: center;
            float: none;
        }
    }
    
    #primaryNav.open {
        display: block;
    }
    
    #hamburgerBtn {
        background-color: #004777;
        color: white;
        font-size: 40px;
        margin-top: 18px;
        margin-left: 25px;
    }
    
    #now {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
        background-color: #004777;
        color: white;
        padding: 10px;
    }
    
    /* Header */
    .header-content {
        display: flex;
    }
    
    header {
        display: flex;
        background-color: #004777;
    }
    
    .media {
        display: flex;
        margin-top: 32px;
    }
    
    /* Main */
    #square-1 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
    }
    
    #square-2 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
    }
    
    #square-3 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
    }
    
    #square-4 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
    }
    
    #spotlight-5 {
        display: none;
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
    }

    #spotlight-5 p {
        display: none;
    }
    
    #square-6 {
        height: 360px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
    }
    
    #square-7 {
        display: flex;
        flex-direction: column;
        height: 140px;
        width: auto;
        margin-top: 15px;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        padding: 10px;
    }
    
    #square-8 {
        display: flex;
        flex-direction: column;
        height: 140px;
        width: auto;
        margin-top: -10px;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        padding: 10px;
    }
    
    #square-9 {
        display: none;
        flex-direction: column;
        height: 140px;
        width: auto;
        margin-top: -10px;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        padding: 10px;
    }

    /* Footer */
    footer {
        background-color: #004777;
        color: white;
        text-align: center;
    }
}