@media only screen and (min-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    img{
        max-width: 100%;
    }
    
    p, li, div {
        font-family: 'Work Sans', sans-serif;
    }
    
    #home-page p {
        font-weight: bold;
    }
    
    /* Navigation */
    nav {
        margin-left: 5%;
    }

    #primaryNav {
        display: flex;
        width: 150%;
        justify-content: space-between;
        transform: translateY(100%);
        list-style: none;
    }
    
    #primaryNav a {
        display: flex;
        flex-direction: row;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

    #primaryNav a:hover {
        background-color: gray;
    }

    #hamburgerBtn {
        display: none;
    }
    
    #now {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
        background-color: #004777;
        color: white;
        padding: 10px;
    }
    
    /* Header */
    .header-content {
        display: flex;
    }
    
    header {
        display: flex;
        background-color: #004777;
    }
    
    .media {
        display: flex;
        margin-top: 60px;
    }
    
    /* Main */
    #home-page {
        width: 95%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 97.8%;
        column-gap: 5px;
        row-gap: 1px;
        margin: 0 auto;
        padding-bottom: 13rem;
    }

    #square-1 {
        height: 94%;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
        grid-column: 2;
        grid-row: 1;
    }
    
    #square-2 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
        grid-column: 1;
        grid-row: 1;
    }
    
    #square-3 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
        grid-column: 1;
        grid-row: 1;
        position: relative;
        transform: translateY(101%);
    }
    
    #square-4 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
        grid-column: 2;
        grid-row: 3;
    }
    
    #spotlight-5 {
        height: 180px;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
        grid-column: 1;
        grid-row: 3;
    }
    
    #square-6 {
        height: 144.3%;
        width: auto;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        margin-bottom: 5px;
        padding: 10px;
        position: relative;
        transform: translateY(0);
    }
    
    #square-7 {
        display: flex;
        flex-direction: column;
        height: 28%;
        width: auto;
        margin-top: 15px;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        padding: 10px;
    }
    
    #square-8 {
        display: flex;
        flex-direction: column;
        height: 28%;
        width: auto;
        margin-top: 10px;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        padding: 10px;
    }
    
    #square-9 {
        height: 28%;
        width: auto;
        margin-top: 10px;
        border: 2px solid gray;
        color: gray;
        background-color: lightgray;
        padding: 10px;
    }
    
    /* Footer */
    footer {
        background-color: #004777;
        color: white;
    }

    .footer-content {
        justify-content: left;
    }

    .footer-p {
        position: relative;
        text-align: center;
        transform: translateY(-200%);
    }

    .base-footer {
        text-align: center;
    }
}