*{
    margin: 0;
    box-sizing: border-box;
}

#content{
    max-width: 960px;
    margin: 0 auto;
}

p, ul li{
    font-size: large;
}

body{
    background-color: blue;
}

img{
    max-width: 100%;
}

p, h1, h2, h3, ul, li, img{
    color: white;
    padding: 15px;
}

/*Header*/
header, main, footer{
    background-color: lightblue;
    text-align: center;
    padding: 1.5em;
    color: white;
}

/*Navigation*/
nav{
    background-color: lightblue;
}

nav, #color-scheme{
    display: flex;
    flex-direction: row;
}

a:hover{
    background-color: gray;
    color: white;
}

nav div, #color-scheme div{
    flex: 1 1 100%;
}

nav a, #color-scheme div{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*Color Scheme*/
.color-scheme-div1{
    background-color: #004777;
}

.color-scheme-div2{
    background-color: #0E0A07;
}

.color-scheme-div3{
    background-color: #FFFFFF;
}

.color-scheme-div4{
    background-color: #E6B84C;
}

.color-scheme-div5{
    background-color: #00AFB5;
    color: black;
}

/*Typography*/
p{
    font-family: 'Work Sans', sans-serif;
}

/*Main*/
main{
    text-align: left;
}